extends components/templates.pug 

block content 
  main.main-container
    .calculator 
      // fila 1
      input(type="text")
      // fila 2
      button( value="X") X
      button( value="C") C
      button( value="/") /
      button( value="*") *
      // fila 3
      button( value="7") 7
      button( value="8") 8
      button( value="9") 9
      button( value="-") -
      // fila 4
      button( value="4") 4
      button( value="5") 5
      button( value="6") 6
      button( value="+") +
      // fila 5
      button( value="1") 1
      button( value="2") 2
      button( value="3") 3
      button( value="=") =
      // fila 6
      button( value="3") 3


